<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout_admin/header :: setContent(~{this::content} )}">

    <head>
        <meta charset="UTF-8">
        <title>List Group - Mazer Admin Dashboard</title>
    </head>

    <th:block th:fragment="content">
        <div id="app">
            <div id="main">
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </header>

                <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3>Chat List</h3>
                                <p class="text-subtitle text-muted">
                                    List groups are a flexible and powerful component for displaying a series of content
                                </p>
                            </div>
                            <div class="col-12 col-md-6 order-md-2 order-first">
                                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="../admin/index.html">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">List Group</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <!-- list group button & badge start-->
                    <section class="list-group-button-badge">
                        <div class="row match-height">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <!--<h4 class="card-title">Button list Group</h4>-->
                                        <div class="buttons">
                                            <form action="/chat/createRoom" method="post">
                                                <input type="text" class="form-select-chat" name="name"
                                                       placeholder="채팅방 이름">
                                                <button type="submit" class="btn btn-success rounded-pill">Neeeew
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="list-group">

                                                <!-- email -->
                                                <div class="content-right">
                                                    <div class="content-overlay"></div>
                                                    <div class="content-wrapper">
                                                        <div class="content-header row">
                                                        </div>
                                                        <div class="content-body">
                                                            <!-- email app overlay -->
                                                            <div class="app-content-overlay"></div>
                                                            <div class="email-app-area">
                                                                <!-- Email list Area -->
                                                                <div class="email-app-list-wrapper">
                                                                        <!--<div class="email-action">-->
                                                                            <!-- action left start here -->
                                                                            <div class="action-left d-flex align-items-center-chat">
                                                                                <!-- select All checkbox -->
                                                                                <div class="checkbox checkbox-shadow checkbox-sm selectAll me-3">
                                                                                    <input type="checkbox" id="checkboxsmall" class='form-check-input'>
                                                                                    <label for="checkboxsmall"></label>
                                                                                </div>
                                                                                <!-- delete unread dropdown -->
                                                                                <ul class="list-inline m-0 d-flex">
                                                                                    <li class="list-inline-item mail-delete">
                                                                                        <button type="button"
                                                                                                class="btn btn-icon action-icon"
                                                                                                data-toggle="tooltip">
                                                                                            <span class="fonticon-wrap">
                                                                                                <svg class="bi"
                                                                                                     width="1.5em"
                                                                                                     height="1.5em"
                                                                                                     fill="currentColor">
                                                                                                    <use th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.svg#trash}"/>
                                                                                                </svg>
                                                                                             </span>
                                                                                        </button>
                                                                                    </li>
                                                                                    <li class="list-inline-item mail-unread">
                                                                                        <button type="button"
                                                                                                class="btn btn-icon action-icon">
                                                                                            <span class="fonticon-wrap d-inline">
                                                                                                 <svg class="bi"
                                                                                                      width="1.5em"
                                                                                                      height="1.5em"
                                                                                                      fill="currentColor">
                                                                                                     <use th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.svg#envelope}"/>
                                                                                                 </svg>
                                                                                            </span>
                                                                                        </button>
                                                                                    </li>
                                                                                    <li class="list-inline-item">
                                                                                        <div class="dropdown">
                                                                                            <button type="button"
                                                                                                    class="dropdown-toggle btn btn-icon action-icon"
                                                                                                    id="folder"
                                                                                                    data-toggle="dropdown"
                                                                                                    aria-haspopup="true"
                                                                                                    aria-expanded="false">
                                                                                                    <span class="fonticon-wrap">
                                                                                                        <svg class="bi"
                                                                                                             width="1.5em"
                                                                                                             height="1.5em"
                                                                                                             fill="currentColor">
                                                                                                            <use th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.svg#folder}"/>
                                                                                                        </svg>
                                                                                                    </span>
                                                                                            </button>
                                                                                            <div class="dropdown-menu dropdown-menu-right"
                                                                                                 aria-labelledby="folder">
                                                                                                <a class="dropdown-item"
                                                                                                   href="#"><i
                                                                                                        class="bx bx-edit"></i>
                                                                                                    Draft</a>
                                                                                                <a class="dropdown-item"
                                                                                                   href="#"><i
                                                                                                        class="bx bx-info-circle"></i>Spam</a>
                                                                                                <a class="dropdown-item"
                                                                                                   href="#"><i
                                                                                                        class="bx bx-trash"></i>Trash</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </li>
                                                                                    <li class="list-inline-item">
                                                                                        <div class="dropdown">
                                                                                            <button type="button"
                                                                                                    class="btn btn-icon dropdown-toggle action-icon"
                                                                                                    id="tag"
                                                                                                    data-toggle="dropdown"
                                                                                                    aria-haspopup="true"
                                                                                                    aria-expanded="false">
                                                                                                    <span class="fonticon-wrap">

                                                                                                        <svg class="bi" width="1.5em" height="1.5em"
                                                                                                             fill="currentColor">
                                                                                                            <use
                                                                                                                    th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.svg#tag}"/>
                                                                                                        </svg>
                                                                                                    </span>
                                                                                            </button>
                                                                                            <div class="dropdown-menu dropdown-menu-right"
                                                                                                 aria-labelledby="tag">
                                                                                                <a href="#"
                                                                                                   class="dropdown-item align-items-center">
                                                                                                    <span class="bullet bullet-success bullet-sm"></span>
                                                                                                    <span>Product</span>
                                                                                                </a>
                                                                                                <a href="#"
                                                                                                   class="dropdown-item align-items-center">
                                                                                                    <span class="bullet bullet-primary bullet-sm"></span>
                                                                                                    <span>Work</span>
                                                                                                </a>
                                                                                                <a href="#"
                                                                                                   class="dropdown-item align-items-center">
                                                                                                    <span class="bullet bullet-warning bullet-sm"></span>
                                                                                                    <span>Misc</span>
                                                                                                </a>
                                                                                                <a href="#"
                                                                                                   class="dropdown-item align-items-center">
                                                                                                    <span class="bullet bullet-danger bullet-sm"></span>
                                                                                                    <span>Family</span>
                                                                                                </a>
                                                                                                <a href="#"
                                                                                                   class="dropdown-item align-items-center">
                                                                                                    <span class="bullet bullet-info bullet-sm"></span>
                                                                                                    <span> Design</span>
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <!-- action left end here -->

                                                                            <!-- action right start here -->
                                                                            <div
                                                                                    class="action-right d-flex flex-grow-1 align-items-center justify-content-around">
                                                                                <!-- search bar  -->
                                                                                <div class="email-fixed-search flex-grow-1">
                                                                                    <div class="sidebar-toggle d-block d-lg-none">
                                                                                        <i class="bx bx-menu"></i>
                                                                                    </div>

                                                                                    <div class="form-group position-relative  mb-0 has-icon-left">
                                                                                        <input type="text"
                                                                                               class="form-control"
                                                                                               placeholder="Search email..">
                                                                                        <div class="form-control-icon">
                                                                                            <svg class="bi"
                                                                                                 width="1.5em"
                                                                                                 height="1.5em"
                                                                                                 fill="currentColor">
                                                                                                <use
                                                                                                        th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.svg#search}"/>
                                                                                            </svg>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- pagination and page count -->
                                                                                <span class="d-none d-sm-block">1-10 of 653</span>
                                                                                <button class="btn btn-icon email-pagination-prev d-none d-sm-block">
                                                                                    <svg class="bi" width="1.5em"
                                                                                         height="1.5em"
                                                                                         fill="currentColor">
                                                                                        <use
                                                                                                th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.svg#chevron-left}"/>
                                                                                    </svg>
                                                                                </button>
                                                                                <button class="btn btn-icon email-pagination-next d-none d-sm-block">
                                                                                    <svg class="bi" width="1.5em"
                                                                                         height="1.5em"
                                                                                         fill="currentColor">
                                                                                        <use
                                                                                                th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.svg#chevron-right}"/>
                                                                                    </svg>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                        <!-- / action right -->

                                                                        <!-- email user list start -->
                                                                        <div class="email-user-list list-group ps ps--active-y">
                                                                            <ul class="users-list-wrapper media-list">
                                                                                <li class="media mail-read">
                                                                                    <div class="user-action">
                                                                                        <div class="checkbox-con me-3">
                                                                                            <div class="checkbox checkbox-shadow checkbox-sm">
                                                                                                <input type="checkbox"
                                                                                                       id="checkboxsmall1"
                                                                                                       class='form-check-input'>
                                                                                                <label for="checkboxsmall1"></label>
                                                                                            </div>
                                                                                        </div>
                                                                                        <span class="favorite text-warning">
                                                                                            <svg class="bi" width="1.5em" height="1.5em"
                                                                                                 fill="currentColor">
                                                                                                    <use th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.svg#star-fill}"/>
                                                                                            </svg>
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="pr-50">
                                                                                        <div class="avatar">
                                                                                            <img th:src="@{/assets/images/faces/1.jpg}"
                                                                                                 alt="avtar img holder">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="media-body">
                                                                                        <div class="user-details">
                                                                                            <div class="mail-items">
                                                                        <span class="list-group-item-text text-truncate">Open source
                                                                                project public release 👍</span>
                                                                                            </div>
                                                                                            <div class="mail-meta-item">
                                                                        <span class="float-right">
                                                                             <span class="mail-date">4:14 AM</span>
                                                                        </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="mail-message">
                                                                                            <p class="list-group-item-text truncate mb-0">
                                                                                                Hey John, bah kivu
                                                                                                decrete epanorthotic
                                                                                                unnotched
                                                                                                Argyroneta nonius
                                                                                                veratrine preimaginary
                                                                                            </p>
                                                                                            <div class="mail-meta-item">
                                                        <span class="float-right">
                                                            <span class="bullet bullet-success bullet-sm"></span>
                                                        </span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="media">
                                                                                    <div class="user-action">
                                                                                        <div class="checkbox-con me-3">
                                                                                            <div class="checkbox checkbox-shadow checkbox-sm">
                                                                                                <input type="checkbox"
                                                                                                       id="checkboxsmall10"
                                                                                                       class='form-check-input'>
                                                                                                <label for="checkboxsmall10"></label>
                                                                                            </div>
                                                                                        </div>
                                                                                        <span class="favorite">

                                                    <svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                                                        <use
                                                                th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.svg#star}"/>
                                                    </svg>
                                                    </span>
                                                                                    </div>
                                                                                    <div class="pr-50">
                                                                                        <div class="avatar">
                                                                                            <img class="rounded-circle"
                                                                                                 th:src="@{/assets/images/faces/5.jpg}"
                                                                                                 alt="Generic placeholder image">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="media-body">
                                                                                        <div class="user-details">
                                                                                            <div class="mail-items">
                                                        <span class="list-group-item-text text-truncate mb-0">
                                                            Invest a few hours contributing to the software
                                                            you use and love. 🍕
                                                        </span>
                                                                                            </div>
                                                                                            <div class="mail-meta-item">
                                                        <span class="float-right">
                                                            <span class="mail-date">29 May</span>
                                                        </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="mail-message">
                                                                                            <p class="list-group-item-text mb-0 truncate">
                                                                                                Hope your like it, or
                                                                                                feel free to comment,
                                                                                                feedback or
                                                                                                rebound
                                                                                                !
                                                                                            </p>
                                                                                            <div class="mail-meta-item">
                                                        <span class="float-right">
                                                            <span class="bullet bullet-info bullet-sm"></span>
                                                        </span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="media">
                                                                                    <div class="user-action">
                                                                                        <div class="checkbox-con me-3">
                                                                                            <div class="checkbox checkbox-shadow checkbox-sm">
                                                                                                <input type="checkbox"
                                                                                                       id="checkboxsmall11"
                                                                                                       class='form-check-input'>
                                                                                                <label for="checkboxsmall11"></label>
                                                                                            </div>
                                                                                        </div>
                                                                                        <span class="favorite">

                                                    <svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                                                        <use
                                                                th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.svg#star}"/>
                                                    </svg>
                                                    </span>
                                                                                    </div>
                                                                                    <div class="pr-50">
                                                                                        <div class="avatar">
                                                                                            <img class="rounded-circle"
                                                                                                 th:src="@{/assets/images/faces/1.jpg}"
                                                                                                 alt="Generic placeholder image">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="media-body">
                                                                                        <div class="user-details">
                                                                                            <div class="mail-items">
                                                        <span class="list-group-item-text text-truncate mb-0">Harness
                                                            The Power Of Words In Your Life</span>
                                                                                            </div>
                                                                                            <div class="mail-meta-item">
                                                        <span class="float-right">
                                                            <span class="mail-date">17 May</span>
                                                        </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="mail-message">
                                                                                            <p class="list-group-item-text mb-0 truncate">
                                                                                                Hope your like it, or
                                                                                                feel free to comment,
                                                                                                feedback or
                                                                                                rebound
                                                                                                !.
                                                                                            </p>
                                                                                            <div class="mail-meta-item">
                                                                                                    <span class="float-right">
                                                                                                        <span class="bullet bullet-warning bullet-sm"></span>
                                                                                                    </span>
                                                                                                                                        </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="media mail-read">
                                                                                    <div class="user-action">
                                                                                        <div class="checkbox-con me-3">
                                                                                            <div class="checkbox checkbox-shadow checkbox-sm">
                                                                                                <input type="checkbox"
                                                                                                       id="checkboxsmall12"
                                                                                                       class='form-check-input'>
                                                                                                <label for="checkboxsmall12"></label>
                                                                                            </div>
                                                                                        </div>
                                                                                        <span class="favorite">

                                                                                        <svg class="bi" width="1.5em" height="1.5em" fill="currentColor">
                                                                                            <use
                                                                                                    th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.svg#star}"/>
                                                                                        </svg>
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="pr-50">
                                                                                        <div class="avatar">
                                                                                            <img class="rounded-circle"
                                                                                                 th:src="@{/assets/images/faces/3.jpg}"
                                                                                                 alt="Generic placeholder image">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="media-body">
                                                                                        <div class="user-details">
                                                                                            <div class="mail-items">
                                                                                            <span class="list-group-item-text text-truncate mb-0"> Know
                                                                                                Yourself Your Inner Power </span>
                                                                                                                                </div>
                                                                                                                                <div class="mail-meta-item">
                                                                                            <span class="float-right">
                                                                                                <span class="mail-date">21 Mar</span>
                                                                                            </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="mail-message">
                                                                                            <p class="list-group-item-text mb-0 truncate">
                                                                                                Hope your like it, or
                                                                                                feel free to comment,
                                                                                                feedback or
                                                                                                rebound
                                                                                                !
                                                                                            </p>
                                                                                            <div class="mail-meta-item">
                                                                                                <span class="float-right">
                                                                                                    <span class="bullet bullet-warning bullet-sm"></span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                            <!-- email user list end -->

                                                                            <div class="ps__rail-x"
                                                                                 style="left: 0px; bottom: 0px;">
                                                                                <div class="ps__thumb-x" tabindex="0"
                                                                                     style="left: 0px; width: 0px;"></div>
                                                                            </div>
                                                                            <div class="ps__rail-y"
                                                                                 style="top: 0px; height: 733px; right: 0px;">
                                                                                <div class="ps__thumb-y" tabindex="0"
                                                                                     style="top: 0px; height: 567px;"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/ Email list Area -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- /email -->

                                                <table>
                                                    <tr th:each="room : ${roomList}">
                                                        <td>
                                                            <a th:href="@{chatRoom(roomId=${room.roomId})}"
                                                               th:text="${room.name}"></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- list group button & badge ends -->
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</html>