<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout_admin/header :: setContent(~{this::content} )}">

    <head>
        <meta charset="UTF-8">
        <title>List Group - Mazer Admin Dashboard</title>
    </head>

    <th:block th:fragment="content">
        <div id="app">
            <div id="main">
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </header>

                <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3>Chat List</h3>
                                <p class="text-subtitle text-muted">
                                    List groups are a flexible and powerful component for displaying a series of content
                                </p>
                            </div>
                            <div class="col-12 col-md-6 order-md-2 order-first">
                                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="../admin/index.html">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">List Group</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <!-- list group button & badge start-->
                    <section class="list-group-button-badge">
                        <div class="row match-height">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <!--<h4 class="card-title">Button list Group</h4>-->
                                        <div class="buttons">
                                            <form action="/chat/createRoom" method="post">
                                                <input type="text" class="form-select-chat" name="name" placeholder="채팅방 이름">
                                                <button type="submit" class="btn btn-success rounded-pill">Neeeew
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="list-group">
                                                <!--<button type="button" class="list-group-item list-group-item-action" th:each="room : ${roomList}">
                                                    Cras justo odio
                                                </button>
                                                <button type="button" class="list-group-item list-group-item-action">
                                                    Dapibus ac facilisis in
                                                </button>
                                                <button type="button" class="list-group-item list-group-item-action">
                                                    Morbi leo risus
                                                </button>
                                                <button type="button" class="list-group-item list-group-item-action">
                                                    Porta ac consectetur ac
                                                </button>
                                                <button type="button" class="list-group-item list-group-item-action">
                                                    Vestibulum at eros
                                                </button>-->

                                                <table>
                                                    <tr th:each="room : ${roomList}" >
                                                        <td>
                                                            <a th:href="@{chatRoom(roomId=${room.roomId})}"
                                                               th:text="${room.name}"></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- list group button & badge ends -->
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</html>