<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout_admin/header :: setContent(~{this::content} )}">

    <head>
        <meta charset="UTF-8">
    </head>

    <div layout:fragment="script">
        <script type="text/javascript">
            function memberUpdate() {
                console.log("memberUpdate 실행");

                let data = {
                    mid: $('#mid').val(),
                    mname: $('#mname').val(),
                    mphone: $('#mphone').val(),
                    mbirth: $('#mbirth').val(),
                    memail: $('#memail').val(),
                    mpw: null  // mpw에 null 값을 할당
                };

                if ($('#mpw').val().trim() !== "") {
                    // mpw 입력값이 비어있지 않은 경우에만 값을 할당
                    data.mpw = $('#mpw').val();
                }


                // 공백 및 빈 문자열 체크
                if (!data.mname || data.mname.trim() === "" || !data.mphone || data.mphone.trim() === ""
                    || !data.mbirth || data.mbirth.trim() === "" || !data.memail || data.memail.trim() === "") {
                    alert("공백 또는 입력하지 않은 부분이 있습니다.");
                    return false;
                }

                const confirmCheck = confirm("수정하시겠습니까?");

                if (confirmCheck == true) {
                    $.ajax({
                        type: 'POST',
                        url: '/mypage/modify',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data)
                    }).done(function (result) {
                        if (result) {
                            alert("회원 수정이 완료되었습니다.");
                            window.location.href = "/mypage/read";
                        } else {
                            alert("이미 등록된 이메일/전화번호입니다. 다시 입력해주세요.");
                            $('#mphone').focus();
                            $('#memail').focus();
                        }
                    }).fail(function (error) {
                        alert(JSON.stringify(error));
                    });
                }
            }
        </script>
    </div>

    <th:block th:fragment="content">
        <div id="app">
            <div id="main">
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </header>

                <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3> 내 정보 </h3>
                                <p class="text-subtitle text-muted">Multiple form layout you can use</p>
                            </div>
                            <div class="col-12 col-md-6 order-md-2 order-first">
                                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Form Layout</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <!-- Basic Horizontal form layout section start -->
                    <section id="basic-horizontal-layouts">
                        <div class="row match-height">
                            <div class="col-md-6 col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title"> 내정보</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <form class="form form-horizontal">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label>Name</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <input type="text" class="form-control" id="first-name-icon" name="mname" th:field="*{mname}" th:id="mname"
                                                                           th:value="${member.mname}" >
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-person"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Email</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <span type="email" class="form-control" id="first-name-icon" th:text="${member.memail}"></span>
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-envelope"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Mobile</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <span type="number" class="form-control" th:text="${member.mphone}"></span>
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-phone"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Password</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <input type="password" class="form-control"
                                                                           placeholder="Password">
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-lock"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <span type="text" class="form-control" th:text="${member.mbirthday}"></span>
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-phone"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <span type="text" class="form-control" th:text="${member.maddress}"></span>
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-phone"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-8 offset-md-4">
                                                            <div class='form-check'>
                                                                <div class="checkbox">
                                                                    <input type="checkbox" id="checkbox2"
                                                                           class='form-check-input' checked>
                                                                    <label for="checkbox2">Remember Me</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 d-flex justify-content-end">
                                                            <button type="submit"
                                                                    class="btn btn-primary me-1 mb-1">Submit
                                                            </button>
                                                            <button type="reset"
                                                                    class="btn btn-light-secondary me-1 mb-1">Reset
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- // Basic Horizontal form layout section end -->
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</html>