<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout_admin/layout :: setContent(~{this::content} )}">

    <head>
        <meta charset="UTF-8">
        <title>Login - Mazer Admin Dashboard</title>
    </head>

    <script>
        var compare_result = false;
        function fn_compare_pwd(){
            var pwd1 = $("#mpw_1").val();
            var pwd2 = $("#mpw_2").val();
            var $s_result = $("#s_result");

            if(pwd1 == pwd2){
                compare_result = true;
                $s_result.text("비밀번호가 일치합니다.");
                return;
            }

            compare_result = false;
            $s_result.text("비밀번호가 일치하지 않습니다.");
        }
    </script>

    <th:block th:fragment="content">
        <div id="auth">
            <div class="row h-100">
                <div class="col-lg-5 col-12">
                    <div id="auth-left">
                        <div class="auth-logo">
                            <a th:href="@{/admin/index}"><img th:src="@{/assets/images/logo/logo.png}" alt="Logo"></a>
                        </div>
                        <h1 class="auth-title">Sign Up</h1>
                        <p class="auth-subtitle mb-5">Input your data to register to our website.</p>

                        <form th:action="@{/member/register}" id="registerForm" th:method="post">
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="text" class="form-control form-control-xl" name="mid" placeholder="Id">
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="text" class="form-control form-control-xl" name="memail" placeholder="Email">
                                <div class="form-control-icon">
                                    <i class="bi bi-envelope"></i>
                                </div>
                            </div>
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="text" class="form-control form-control-xl" name="mname" placeholder="Username">
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="password" class="form-control form-control-xl" name="mpw" id="mpw_1" placeholder="Password">
                                <div class="form-control-icon">
                                    <i class="bi bi-shield-lock"></i>
                                </div>
                            </div>
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="password" class="form-control form-control-xl" name="mpw_2" id="mpw_2"  onKeyUp="fn_compare_pwd();" placeholder="Confirm Password" >
                                <div class="form-control-icon">
                                    <i class="bi bi-shield-lock"></i>
                                </div>
                            </div>
                            <!-- 생일 -->
                            <!--<div class="form-group position-relative has-icon-left mb-4">
                                <input type="text" class="form-control form-control-xl" name="mbirthday" placeholder="Birthday(only number)">
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>-->
                            <!-- 주소 -->
                            <!--<div class="form-group position-relative has-icon-left mb-4">
                                <input type="text" class="form-control form-control-xl" name="madress" placeholder="Adress">
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>-->
                            <!-- 상세주소 -->
                            <!--<div class="form-group position-relative has-icon-left mb-4">
                                <input type="text" class="form-control form-control-xl" name="madress" placeholder="DetailAdress">
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>-->
                            <!-- 추천인 아이디 -->
                            <!--<div class="form-group position-relative has-icon-left mb-4">
                                <input type="text" class="form-control form-control-xl" name="merecommend" placeholder="RecommendID">
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>-->

                            <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5" type="submit">Sign Up</button>
                        </form>
                        <div class="text-center mt-5 text-lg fs-4">
                            <p class='text-gray-600'>Already have an account?
                                <a th:href="@{/member/login}" class="font-bold">Login</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block">
                    <div id="auth-right">
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</html>