<th:block th:replace="~{layout/header :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <div class="hero page-inner overlay" style="background-image: url('/images/hero_bg_1.jpg')">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-9 text-center mt-5">
                        <h1 class="heading" data-aos="fade-up">Item Register</h1>

                        <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                            <ol class="breadcrumb text-center justify-content-center">
                                <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                                <li class="breadcrumb-item active text-white-50" aria-current="page">Item Register</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row-c">
                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
                        <form th:action="@{/item/register}" th:method="post">
                            <div class="row">
                                <input type="text" class="form-control" name="iname" placeholder="제목"/>
                                <div class="col-12 mb-3">
                                    <textarea name="" id="" cols="30" rows="7" class="form-control"
                                              placeholder="Message"></textarea>
                                </div>
                                <!-- 작성자 -->
                                <div class="col-6 mb-3">
                                    <input type="text" name="member" class="form-control" th:value="${#authentication.principal.username}" readonly/>
                                </div>
                                <div class="col-12">
                                    <input type="submit" value="Register" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.untree_co-section -->
    </th:block>
</th:block>
